<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-elements/paper-elements.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../gestor-clientes/edicion-clientes.html">
<link rel="import" href="../gestor-clientes/listado-clientes.html">



<dom-module id="edicion-clientes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        text-align: center;
      }

      .task{
        display: flex;
        align-items: center;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">

          <h3 class="col-lg-12">Búsqueda de Cliente por ID y Ediciòn</h3>
            <p>
              <paper-input always-float-label label="Id Cliente" value="{{idCliente_entrada::input}}" id="idCliente_entrada" required= "required"> </paper-input>

              <paper-button on-tap="obtenerInfoCliente" raised >Buscar Cliente</paper-button>
            </p>

            <p>
              <paper-input always-float-label label="Id Cliente" value="{{clientes.idcliente::input}}" required= "required"> </paper-input>
              <paper-input always-float-label label="Apellido Paterno" value="{{clientes.apellido_paterno::input}}" required= "required"> </paper-input>
              <paper-input always-float-label label="Apellido Materno" value="{{clientes.apellido_materno::input}}" required= "required"> </paper-input>
              <paper-input always-float-label label="Nombre" value="{{clientes.nombre::input}}" required= "required"> </paper-input>
              <paper-input always-float-label label="Banca" value="{{clientes.banca::input}}" required= "required"> </paper-input>
              <paper-input always-float-label label="Tipo de Persona" value="{{clientes.tipo_persona::input}}" required= "required"> </paper-input>
            </p>

            <br>
            <h3>Cuentas asociadas</h3>
              <dom-repeat items= "{{clientes.cuentas}}" as= "cuenta">
                <template>
                  <div>
                    <paper-input always-float-label label="Número de Cuenta" value="{{cuenta.num_cta::input}}" required= "required"> </paper-input>
                    <paper-input always-float-label label="Tipo de Cuenta" value="{{cuenta.tipo_cta::input}}" required= "required"> </paper-input>
                    <paper-input always-float-label label="Saldo Actual" value="{{cuenta.saldo_actual::input}}" required= "required"> </paper-input>
                    <br>
                  </div>
                </template>
              </dom-repeat>

              <paper-button on-tap="openDialogEditar" raised >Editar cliente</paper-button>
              <paper-alert-dialog
                id="dialog_editar"
                title="Edición de cliente"
                dismiss-button="Cancelar"
                confirm-button="Aceptar"
                on-confirm="editarCliente"
                on-dismiss="dismiss">
                ¿Estás seguro de editar al cliente?
              </paper-alert-dialog>

              <paper-button on-tap="openDialogEliminar" raised >Eliminar Cliente</paper-button>
              <paper-alert-dialog
                id="dialog_eliminar"
                title="Baja de cliente"
                dismiss-button="Cancelar"
                confirm-button="Aceptar"
                on-confirm="eliminarCliente"
                on-dismiss="dismiss">
                ¿Estás seguro de dar de baja al cliente?
              </paper-alert-dialog>



            <h3>Agregar cuentas</h3>

            <p>
              <paper-input always-float-label label="Número de Cuenta" value="{{num_cta::input}}" required= "required"> </paper-input>
              <paper-input always-float-label label="Tipo de cuenta" value="{{tipo_cta::input}}" required= "required"> </paper-input>

            </p>

            <paper-button on-tap="agregarCuenta" raised >Agregar Cuenta</paper-button>

            <paper-button on-tap="depositoCuenta" raised >Realizar Depósito</paper-button>
            <paper-button on-tap="retiroCuenta" raised >Realizar Retiro</paper-button>

        </div>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EdicionClientes extends Polymer.Element {
      static get is() { return 'edicion-clientes'; }
      static get properties() {
        return {
          clientes:{
            type: Object,
            notify: true,
          },
          idcliente:{
            type: String
          },
          nombre:{
            type: String
          },
          apellido_paterno:{
            type: String
          },
          apellido_materno:{
            type: String
          },
          nombre:{
            type: String
          },
          banca:{
            type: String
          },
          tipo_persona:{
            type: String
          },
          num_cta:{
            type: Number
          },
          tipo_cta:{
            type: String
          }

        };
      }

      obtenerInfoCliente(){
        var idCliente_entrada = this.idCliente_entrada;
        console.log(idCliente_entrada);
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/client2/" + idCliente_entrada, false);
        //request.open("GET", "http://localhost:3000/client2/5b9af21b7b57501b36deaff2", false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        //this.clientes = Object.values(this.clientes);
        //console.log(this.clientes);
      }

      //funcion basada en la de create cliente
      editarCliente(){
        var idCliente_entrada = this.idCliente_entrada;
        var idcliente = this.clientes.idcliente;
        console.log ("id del cliente"+idcliente)
        var nombre = this.clientes.nombre;
        var apellido_paterno = this.clientes.apellido_paterno;
        var apellido_materno = this.clientes.apellido_materno;
        var banca = this.clientes.banca;
        var tipo_persona = this.clientes.tipo_persona;
        var num_cta = this.num_cta;
        var tipo_cta = this.tipo_cta
        var request = new XMLHttpRequest();
        //request.open("PUT", "http://localhost:3000/client2/5b9af21b7b57501b36deaff2", false);
        request.open("PUT", "http://localhost:3000/client2/" + idCliente_entrada, false);
        request.setRequestHeader("Content-Type", "application/json");
        var actualizadoCliente = {
                            "idcliente": idcliente,
                            "nombre": nombre,
                            "apellido_paterno": apellido_paterno,
                            "apellido_materno": apellido_materno,
                            "banca": banca,
                            "tipo_persona": tipo_persona,
                            "cuentas": [
                                {
                                "num_cta": num_cta,
                                "tipo_cta": tipo_cta
                                }
                            ]
                        };
        var body = JSON.stringify(actualizadoCliente);
        console.log("Este es el cuerpo a actualizar: " + body);
        request.send(body);
        var resultText = request.responseText;
        console.log(resultText);
      }

      agregarCuenta(){
        var idCliente_entrada = this.idCliente_entrada;
        var idcliente = this.clientes.idcliente;
        console.log ("id del cliente"+idcliente)
        var num_cta = this.num_cta;
        var tipo_cta = this.tipo_cta
        var request = new XMLHttpRequest();
        //request.open("PUT", "http://localhost:3000/agregarCuenta/5b9af21b7b57501b36deaff2", false);
        request.open("PUT", "http://localhost:3000/agregarCuenta/" + idCliente_entrada, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("num_cta", num_cta);
        request.setRequestHeader("tipo_cta", tipo_cta);


        var actualizadoCliente = {
                            "idcliente": idcliente
                        };

        var body = JSON.stringify(actualizadoCliente);
        console.log("Este es el cuerpo a actualizar: " + body);
        request.send(body);
        //var resultText = resquest.responseText;
        //console.log(resultText);
      }

      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              console.log("gestor cuentas")
          }
      }

      openDialogEditar () {
          this.$.dialog_editar.open();
        };

        openDialogEliminar () {
            this.$.dialog_eliminar.open();
          };



    }

    window.customElements.define(EdicionClientes.is, EdicionClientes);
  </script>
</dom-module>
