<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-alert-dialog-icon-header/paper-alert-dialog-icon-header.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">


<link rel="import" href="../shared-styles.html">

<dom-module id="listado-clientes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        text-align: center;
      }

      .task{
        display: flex;
        align-items: center;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">

          <h3 class="col-lg-12">Clientes TechU</h3>

          <paper-icon-button src="https://image.flaticon.com/icons/svg/179/179407.svg" alt="Actualizar" title="Actualizar" on-tap="obtenerClientes"></paper-icon-button>


          <div class= "row">
            <table>
              <thead>
                <th> Id cliente </th>
                <th> Número de cliente </th>
                <th> Nombre Completo </th>
                <th> Banca </th>
                <th> Tipo de persona </th>
                <th>
                   Acciones
                </th>


              </thead>
              <tbody>
                <template is="dom-repeat" items="{{clientes}}" as="cliente">
                  <tr>
                    <td>{{cliente._id}}</td>
                    <td>{{cliente.idcliente}}</td>
                    <td>{{cliente.nombre}}      {{cliente.apellido_materno}}     {{cliente.nombre}}</td>
                    <td>{{cliente.banca}}</td>
                    <td>{{cliente.tipo_persona}}</td>
                    <td>
                       <paper-icon-button src="https://image.flaticon.com/icons/svg/148/148766.svg" alt="Eliminar" title="borrar" on-tap="eliminarCliente"></paper-icon-button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>

          <br> <br />
          <paper-button raised ><a href="/creacionclientes">Nuevo Cliente</a></paper-button>




          <paper-alert-dialog
            id="dialog_editar"
            title="Edición de cliente"
            dismiss-button="Cancelar"
            confirm-button="Aceptar"
            on-confirm="editarCliente"
            on-dismiss="dismiss">
            ¿Estás seguro de editar al cliente?
          </paper-alert-dialog>

          <paper-alert-dialog
            id="dialog_eliminar"
            title="Baja de cliente"
            dismiss-button="Cancelar"
            confirm-button="Aceptar"
            on-confirm="eliminarCliente"
            on-dismiss="dismiss">
            ¿Estás seguro de dar de baja al cliente?
          </paper-alert-dialog>

          <paper-alert-dialog
            id="dialog_confirmacion"
            confirm-button="OK">
            <paper-alert-dialog-icon-header icon="icons:done">Accion exitosa</paper-alert-dialog-icon-header>
            Se borró el cliente de forma correcta.
          </paper-alert-dialog>


        </div>
      </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListadoClientes extends Polymer.Element {
      static get is() { return 'listado-clientes'; }
      static get properties() {
        return {
          clientes:{
            type: Array,
            notify: true,
          },
          tasks: {
            type: Array,
            value: () => [1,2,3]
          }
        };
      }

      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/client2", false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }

      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
            //  this.constructor();
            this.obtenerClientes()

          }
      }

      openDialogEditar () {
          this.$.dialog_editar.open();
        };

      openDialogEliminar () {
            this.$.dialog_eliminar.open();
          };

      eliminarCliente (e) {
            var clienteObj = e.model.cliente;
            console.log(clienteObj)
            var idClienteBorrar = clienteObj._id;
            console.log("Se intentarà borrar al cliente con id" + idClienteBorrar)
            var request = new XMLHttpRequest();
            request.open("DELETE", "http://localhost:3000/client2/" + idClienteBorrar , false);
            request.send();
            this.clientes = JSON.parse(request.responseText);
            console.log(this.clientes);
            if (request.status == 200){
              //dump(request.responseText);
              this.$.dialog_confirmacion.open();
              this.obtenerClientes()
            }
      };



    }

    window.customElements.define(ListadoClientes.is, ListadoClientes);
  </script>
</dom-module>
