
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="creacion-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        text-align: center;
      }

      .task{
        display: flex;
        align-items: center;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">
        <h3>Agregar cuentas</h3>
          <p>
            <input type="text" placeholder="Numero de cuenta" value="{{num_cta::input}}" required= "required"/>
            <input type="text" placeholder="Tipo de cuenta" value="{{tipo_cta::input}}" required= "required"/>
          </p>


        <h5> Añadir Beneficiario</h5>
        <dom-repeat items= "{{tasks}}" as= "task">
          <template>
            <div class= "task">
              <input type="text" placeholder= "Beneficiario {{task}}" required= "required"/>
              <input type="text" placeholder= "% Participación" required= "required"/>
              <input type="text" placeholder= "Tipo de Participación" required= "required"/>
            </div>
          </template>
        </dom-repeat>

        <button on-click="editarCliente">Actualizar Cliente</button>
        <button >Cancelar</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreacionCuentas extends Polymer.Element {
      static get is() { return 'creacion-cuentas'; }
      static get properties() {
        return {
          clientes:{
            type: Object,
            notify: true,
          },
          tasks: {
            type: Array,
            value: () => [1,2,3]
          },
          idcliente:{
            type: Number
          },
          nombre:{
            type: String
          },
          apellido_paterno:{
            type: String
          },
          apellido_materno:{
            type: String
          },
          nombre:{
            type: String
          },
          banca:{
            type: String
          },
          tipo_persona:{
            type: String
          },
          num_cta:{
            type: Number
          },
          tipo_cta:{
            type: String
          }

        };
      }

      //funcion basada en la de create cliente
      editarCliente(){
        var idcliente = this.clientes.idcliente;
        console.log ("id del cliente"+idcliente)
        var nombre = this.clientes.nombre;
        var apellido_paterno = this.clientes.apellido_paterno;
        var apellido_materno = this.clientes.apellido_materno;
        var banca = this.clientes.banca;
        var tipo_persona = this.clientes.tipo_persona;
        var num_cta = this.num_cta;
        var tipo_cta = this.tipo_cta
        var request = new XMLHttpRequest();
        request.open("PUT", "http://localhost:3000/client2/5b9af21b7b57501b36deaff2", false);
        //request.open("PUT", "http://localhost:3000/client2/" + _id, false);
        request.setRequestHeader("Content-Type", "application/json");
        var actualizadoCliente = {
                            "idcliente": idcliente,
                            "nombre": nombre,
                            "apellido_paterno": apellido_paterno,
                            "apellido_materno": apellido_materno,
                            "banca": banca,
                            "tipo_persona": tipo_persona,
                            "cuentas": [
                                {
                                "num_cta": num_cta,
                                "tipo_cta": tipo_cta
                                }
                            ]
                        };
        var body = JSON.stringify(actualizadoCliente);
        console.log("Este es el cuerpo a actualizar: " + body);
        request.send(body);
        //var resultText = resquest.responseText;
        //console.log(resultText);
      }

      obtenerCliente(){

        var a = this.idCliente;
        //console.log(a);
        var request = new XMLHttpRequest();
        //request.open("GET", "http://localhost:3000/client2/" + a, false);
        request.open("GET", "http://localhost:3000/client2/5b9af21b7b57501b36deaff2", false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        //this.clientes = Object.values(this.clientes);
        //console.log(this.clientes);
      }

      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              console.log("creación cuentas")
          }
      }

    }

    window.customElements.define(CreacionCuentas.is, CreacionCuentas);
  </script>
</dom-module>
