<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-elements/paper-elements.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../gestor-clientes/edicion-clientes.html">


<dom-module id="gestor-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        text-align: center;
      }

      .task{
        display: flex;
        align-items: center;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">

          <h3 class="col-lg-12">Búsqueda de Cliente por ID</h3>
            <p>
              <paper-input always-float-label label="Id Cliente" value="{{idCliente::input}}" id="idCliente" required= "required"> </paper-input>

              <!--<input type="text" id="idCliente" value="{{idCliente::input}}" required= "required"/>-->
              <button on-click="obtenerCuentas">Buscar</button>
            </p>

        <div class= "row">
          <table class="table-striped col-lg-12 col-xs-12">
            <thead>
              <th> Número de cliente </th>
              <th> Nombre </th>
              <th> Banca </th>
              <th> Tipo de persona </th>
            </thead>
            <tbody>
              <tr>
                <td>[[clientes.idcliente]]</td>
                <td>[[clientes.apellido_paterno]]      [[clientes.apellido_materno]]     [[clientes.nombre]]</td>
                <td>[[clientes.banca]]</td>
                <td>[[clientes.tipo_persona]]</td>
              </tr>
            </tbody>
          </table>
        </div>



      <h3> Cuentas</h3>


            <table class="table-striped col-lg-12 col-xs-12">
              <thead >
                <tr>
                  <th> Número de cuenta</th>
                  <th> Tipo de Cuenta </th>
                  <th> Saldo actual </th>
                  <th> Acciones </th>
                </tr>
              </thead>

              <tbody>
                <template is="dom-repeat" items= "{{clientes.cuentas}}" as= "cuenta">
                <tr>

                  <td>{{cuenta.num_cta}}</td>
                  <td>{{cuenta.tipo_cta}}</td>
                  <td>{{cuenta.saldo_actual}}</td>
                  <td>Movimientos</td>

                </tr>
                </template>
              </tbody>

            </table>

            <button type="button" on-click="editarCliente" name="button"> Editar cliente</button>
            <edicion-clientes idcliente= this.idCliente></edicion-clientes>
            <button type="button" on-click="eliminarCliente" name="button"> Eliminar cliente</button>

          </div>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          clientes:{
            type: Object,
            notify: true,
          },
          idCliente:{
            type: String
          }

        };
      }

      obtenerCuentas(){
        var a = this.idCliente;
        //console.log(a);
        var request = new XMLHttpRequest();
        //request.open("GET", "http://localhost:3000/client2/" + a, false);
        request.open("GET", "http://localhost:3000/client2/5b9af21b7b57501b36deaff2", false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        //this.clientes = Object.values(this.clientes);
        //console.log(this.clientes);
      }

      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              console.log("gestor cuentas")
          }
      }



    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
