<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .wrapper-btns {
          margin-top: 15px;
      }

      paper-button.link {
          color: #757575;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }

      input {
         position: relative; /* to make a stacking context */
         outline: none;
         box-shadow: none;
         margin: 0;
         padding: 0;
         width: 100%;
         max-width: 100%;
         background: transparent;
         border: none;
         color: var(--paper-input-container-input-color, var(--primary-text-color));
         -webkit-appearance: none;
         text-align: inherit;
         vertical-align: bottom;
         /* Firefox sets a min-width on the input, which can cause layout issues */
         min-width: 0;
         @apply --paper-font-subhead;
         @apply --paper-input-container-input;
     }


    </style>

    <iron-ajax
        id="registerLoginAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError">
    </iron-ajax>

    <!-- Duda en donde va este local storagr -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <!-- Duda en donde va esto: We need to supply an identifying key and the value we want is, of course, the storedUser object.-->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
        <div id="unauthenticated"  hidden$="[[storedUser.loggedin]]">
            <h1>Iniciar sesión</h1>

          <p><strong>Inicia sesión</strong> o <strong> registrate </strong> para poder acceder a la aplicacción</p>

          <template is="dom-if" if="[[error]]">
              <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <paper-input-container>
            <label slot="input">Usuario</label>
            <iron-input slot="input" bind-value="{{formData.username}}">
              <input class= "input-style" id="username" type="text" value="{{formData.username}}" placeholder="Usuario">
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label>Contraseña</label>
            <iron-input slot="input" bind-value="{{formData.password}}">
              <input id="password" type="password" value="{{formData.password}}" placeholder="Contraseña">
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="postLogin">Iniciar sesión</paper-button>
            <paper-button class="link" on-tap="postRegister">Registrate</paper-button>
          </div>
        </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
          <h2>Hola, [[storedUser.name]]!</h2>
          <p>Ya te encuentras logeado. Ya puedes acceder a <a href="/secretquotes">Secret Quotes</a>!</p>
          <log-out stored-user="{{storedUser}}"></log-out>
      </div>

    </div>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
          }
      }

      _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
      }

      postLogin() {
        this.$.registerLoginAjax.url = 'http://localhost:3001/sessions/create';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      postRegister() {
        this.$.registerLoginAjax.url = 'http://localhost:3001/users';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);

        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.username,
            id_token: response.id_token,
            access_token: response.access_token,
            loggedin: true
          };
          // redirect to Secret Quotes
          this.set('route.path', '/listadoclientes');
        }

        // reset form data
        this.formData = {};
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }

    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
